<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Forums Workshop</title>
    <link rel="stylesheet" href="static/style.css">

    <script type="text/javascript" src="../static/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
   crossorigin="anonymous"></script>
</head>

<body>

    <div class="centered-item">
        <h1>OneMillion</h1>
        <h4>Done by: Walid Zakaria</h4>
    </div>

    <div class="centered-item">
        <a href="#">Members</a>

        <a href="#">Profile</a>
    </div>

    <div class="content">
        <a href="/topic/add">Create</a>

        <table>

            <thead>
                <tr>
                    <th>
                        Title
                    </th>

                    <th>
                        Edit
                    </th>

                    <th>
                        Delete
                    </th>
                </tr>
            </thead>

            <tbody>

            </tbody>
        </table>
    </div>

</body>

</html>

<script>

    $.ajax({
        type: "GET",
        url: "/api/topic/all",
        dataType: "json",
        success: function (data) {
            $('body').append(arrayToTable(data));
        }
    });

    function arrayToTable(tableData) {

        $(tableData).each(function (i, rowData) {
            var row = $('<tr></tr>');
            row.append($('<td><a href="javascript:showTopic('+rowData["id"]+')">'+rowData["title"]+'</a></td>'));
            row.append($('<td><a href="javascript:editTopic('+rowData["id"]+')">edit</a></td>'));
            row.append($('<td><a href="javascript:deleteTopic('+rowData["id"]+')">delete</a></td>'));
            $('table').append(row);
        });

    }
    function showTopic(topicId) {
        window.location.href = "/topic/show/"+topicId;
    };

    function editTopic(topicId) {
      //to edit a topic
        window.location.href = "/topic/update/"+topicId;
    };

    function deleteTopic(topicId) {
        $.ajax({
            type: "DELETE",
            url: "/api/topic/delete/"+topicId,
            dataType: "json",
            success: function () {
                alert("Topic deleted successfully!");
                window.location.reload();
            }
        });
    };

</script>